
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body class="position-relative">
    @Html.Partial("_NavBar")

    @RenderBody()



    @Scripts.Render("~/bundles/jquery")


    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">


    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(window).scroll(function (e) {
            var $el = $('.mainNav');
            var isPositionFixed = ($el.css('position') == 'fixed');
            if ($(this).scrollTop() > 70 && !isPositionFixed) {
                $el.css({ 'position': 'fixed', 'top': '0px' }).animate({ height: '40px' }, 'slow');
            }
            if ($(this).scrollTop() < 70 && isPositionFixed) {
                $el.css({ 'position': 'static', 'top': '0px' }).animate({ height: '58px' }, 'slow');
            }


        });

        $(document).ready(function () {




        });






    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")



</body>
</html>
