@model shareDoor.ViewModels.UserEditViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

<h2>Επεξεργασία Χρήστη</h2>
<hr />
<h3 class="card-header">Προφίλ χρήστη: @Model.User.NickName</h3>
<div class="row mt-2">
    <div class="col-3">
        <div class="card mb-3">
            <img style="width: 100%; max-height:280px; display: block;"
                 src="@Model.GetImage()" alt="">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card border-default mb-3">
            <div class="card-header"> <strong>ΠΛΗΡΟΦΟΡΙΕΣ</strong></div>
            <div class="card-body">
                <p class="card-text"> <strong>Φύλο:</strong>  @shareDoor.Helpers.TextManager.GetGender(Model.User.Gender)</p>
                <p class="card-text"> <strong>Καπνιστής:</strong>  @shareDoor.Helpers.TextManager.GetSmoker(Model.User.Smoker)</p>
                <p class="card-text"> <strong>Κατοικίδια:</strong>  @shareDoor.Helpers.TextManager.GetPet(Model.User.Pets)</p>
                <p class="card-text"> <strong>E-mail:</strong>  @Model.User.Email</p>

                <p class="card-text"><strong>Κιν:</strong>  @Model.User.PhoneNumber</p>
                <p class="card-text"><strong>Hμ/νία Δημιουργίας:</strong>  @Model.User.Created</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card border-default mb-3">
            <div class="card-header"> <strong>ΣΥΝΔΡΟΜΗ</strong></div>
            <div class="card-body text-center">

                <img src=@Url.Content(@Model.TrophyColor().TrophyColor) class="img-fluid" />
                <p>
                    <strong class="font-weight-bold">@Model.TrophyColor().TrophyTitle</strong>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-4">
        <div class="card border-dark mb-3">
            <div class="card-header">Φωτογραφίες</div>
            <div class="card-body">
                @for (var i = 0; i < Model.User.UserPhotos.Count; i++)
                {
                    <img src="@Model.User.UserPhotos[i].Url" height="90px" class="rounded-circle ml-2" />
                }
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="card border-dark mb-3">
            <div class="card-header">Αγγελίες</div>
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @for (var j = 0; j < Model.User.Houses.Count; j++)
                        {
                            if (j == 0)
                            {
                                <div class="carousel-item active">
                                    @if (Model.User.Houses[j].HousePhotos.Any(y => y.IsMain == true))
                                    {
                                        <img class="d-block w-100" src="@Model.User.Houses[j].HousePhotos.FirstOrDefault(y=>y.IsMain==true).Url" height="250px" />
                                    }
                                    else
                                    {
                                        <img class="d-block w-100" src="https://cdn.tutsplus.com/psd/uploads/legacy/325_House_Icon/43.jpg" height="250px" />
                                    }


                                    <div class="carousel-caption d-none d-md-block bg-dark" style="background-color:#18091163!important">
                                        <p style="font-size:15px; ">
                                            <strong>Κόστος:</strong> @Model.User.Houses[j].RentCost &euro;
                                        </p>
                                        <p style="font-size:15px;">
                                            <strong>Διαθεσιμότητα:</strong> @(Model.User.Houses[j].Availability == true ? "Διαθέσιμο" : "Μη διαθέσιμο")
                                        </p>

                                    </div>
                                </div>
                            }
                            else
                            {

                                <div class="carousel-item" >
                                    @if (Model.User.Houses[j].HousePhotos.Any(x => x.IsMain == true))
                                    {
                                    <img class="d-block w-100" src="@Model.User.Houses[j].HousePhotos.FirstOrDefault(y=>y.IsMain==true).Url" height="250px" />
                                    }
                                    else
                                    {
                                        <img src="https://cdn.tutsplus.com/psd/uploads/legacy/325_House_Icon/43.jpg" class="d-block w-100" height="250px"/>
                                    }
                                    
                                    <div class="carousel-caption d-none d-md-block bg-dark" style="background-color:#18091163!important">
                                        <p style="font-size:15px; ">
                                            <strong>Κόστος:</strong> @Model.User.Houses[j].RentCost &euro;
                                        </p>
                                        <p style="font-size:15px;">
                                            <strong>Διαθεσιμότητα:</strong> @(Model.User.Houses[j].Availability == true ? "Διαθέσιμο" : "Μη διαθέσιμο")
                                        </p>

                                    </div>
                                </div>

                            }
                        }




                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        .card-header {
            background-color: #09706a;
            color: #e8f321;
        }


        .bronze {
            color: #cd7f32;
        }

        .silver {
            color: #c0c0c0;
        }

        .gold {
            color: #D4AF37
        }

        .blue {
            color: blue;
        }
    </style>
}