@model shareDoor.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Μπορείς να συνδεθείς με τις παρακάτω υπηρεσίες.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div class="text-center">
            <div class="btn-group-vertical w-75">


                <div class="input-group mb-2 w-100 p-2 font-weight-bold text-white justify-content-center logins" style="background-color:#3578E5;cursor:pointer;">
                    <i class="fab fa-facebook-f mr-2"></i>
                  Είσοδος με Facebook
                </div>
        
                <div class="input-group w-100 mb-2 p-2 font-weight-bold text-white justify-content-center logins" style="background-color:#1b95e0;cursor:pointer">
                    <i class="fab fa-twitter mr-2"></i>
                   Είσοδος με Twitter
                </div>
                <div class="input-group w-100 p-2 font-weight-bold text-white justify-content-center logins" style="background-color:#db4e42;cursor:pointer">
                    <i class="fab fa-google-plus-g mr-2"></i>
                   Είσοδος με Google
                </div>


            </div>
            </div>

    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}


